<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>
					Unic  <small>Centro Odontológico</small>
				</h1>
			</div>			
		</div>
		<div align="center">			
			<%= image_tag("logo1.png") %>
		</div>		
	</div>
</div>	
