<style>

h3{
	color: purple;
}	

</style>


<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<h3>
				Serviço de qualidade
			</h3>
			<p>
				Texto meramente ilustrativo para ter uma noção de como ficaria essa parte de descrição do site.
				Batatinha quando nasce se esparrama pelo chão. Ahhhhh safada, na hora de levar madeirada...
			</p>
		</div>
		<div class="col-md-4">
			<h3>
				Ótimos preços e convênios
			</h3>	
			<p>
				Texto meramente ilustrativo para ter uma noção de como ficaria essa parte de descrição do site.
				Batatinha quando nasce se esparrama pelo chão. Ahhhhh safada, na hora de levar madeirada...
			</p>	
		</div>
		<div class="col-md-4">
			<h3>
				Equipe qualificada
			</h3>
				<p>
					Texto meramente ilustrativo para ter uma noção de como ficaria essa parte de descrição do site.
				Batatinha quando nasce se esparrama pelo chão. Ahhhhh safada, na hora de levar madeirada...
				</p>
			
		</div>
	</div>
</div>