<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>
					Unic  <small>Centro Odontológico</small>
				</h1>
			</div>
		</div>
	</div>
</div>	



<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="carousel slide" id="carousel-225755">
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-225755">
					</li>
					<li data-slide-to="1" data-target="#carousel-225755">
					</li>
					<li data-slide-to="2" data-target="#carousel-225755">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<%=image_tag("smiles.jpg") %>
						<div class="carousel-caption">
							<h4 style="color: black">
								Tratamento diferenciado
							</h4>
							<p style="color: black">
								Nossa equipe garante um atendimento de alto nível e cuidados diferenciados para assegurarmos a satisfação do nosso cliente! 
							</p>
						</div>
					</div>
					<div class="item">
						<%=image_tag("seguro.jpg")%>
						<div class="carousel-caption">
							<h4>
								Convênios
							</h4>
							<p>
								Nossa clínica trabalha aceitando vários convênios para que possamos sempre satisfazer as necessidades dos nossos clientes e suas famílias. Basta ligar e conferir! :) 
							</p>
						</div>
					</div>
					<div class="item">
						<%=image_tag("dentist.jpg")%>
						<div class="carousel-caption">
							<h4>
								Equipe preparada 
							</h4>
							<p>
								Nossa equipe é extremamente treinada e possui experiência em vários tipos de tratamento. Confiança e sorriso de nossos pacientes são nossa motivação para atendê-los com excelência.
							</p>
						</div>
					</div>
				</div> <a class="left carousel-control" href="#carousel-225755" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-225755" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
		</div>
	</div>
</div>