<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>
					Unic  <small>Centro Odontológico</small>
				</h1>
			</div>
		</div>
	</div>
</div>	



<div class="container-fluid" >
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4">
					<div class="thumbnail">
						<%=image_tag("smiles.jpg", width: "350px" ) %>
						<div class="caption">
							<h3>
								Tratamento diferenciado
							</h3>
							<p>
								Nossa equipe garante um atendimento de alto nível e cuidados diferenciados para assegurarmos a satisfação do nosso cliente! 
							</p>
							
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<%=image_tag("seguro.jpg", width: "350px")%>
						<div class="caption">
							<h3>
								Convênios
							</h3>
							<p>
								 Nossa clínica trabalha aceitando vários convênios para que possamos sempre satisfazer as necessidades dos nossos clientes e suas famílias. Basta ligar e conferir! :) 
							</p>
							
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<%=image_tag("dentist.jpg", width: "350px")%>
						<div class="caption">
							<h3>
								Equipe preparada
							</h3>
							<p>
								Nossa equipe é extremamente treinada e possui experiência em vários tipos de tratamento. Confiança e sorriso de nossos pacientes são nossa motivação para atendê-los com excelência.
							</p>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>