#data{
	background-color: #290a3a;
	color: white;
	font-size: 30px;
	text-align: center;
}

#headdata{
	background-color: #290a3a;
	color: white;
	font-size: 20px;
	text-align: center;
}

#headhora{
	background-color: #290a3a;
	color: white;
	font-size: 20px;
	text-align: center;
}

#hora{
	background-color: #290a3a;
	color: white;
	font-size: 20px;
	text-align: center;
}

#tamanhodata{
	font-size: 20px;
}
#tamanhonome{
	font-size: 20px;
}

#tamanhodatapanel{
	font-size: 18px;
}

#tamanhotabs{
	font-size: 18px;
	text-color: black
}

