#data{
	background-color: #290a3a;
	color: white;
	font-size: 30px;
	text-align: center;
}

#headdata{
	background-color: #290a3a;
	color: white;
	font-size: 20px;
	text-align: center;
}

#headhora{
	background-color: darkcyan;
	color: black;
	font-size: 20px;
	text-align: center;
}

#hora{
	background-color: darkcyan;
	color: black;
	font-size: 20px;
	text-align: center;
}

#tamanhodata{
	font-size: 20px;

}

