/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body{
font-family: 'verdana';
background-image: url('unic.jpg');
background-size: 100%;
background-repeat: no-repeat;
}

.navbar-brand{
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer
{
  height: 19px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  position: fixed;
  
}
.navbar-default {
  background-color: #290a3a;
  border-color: #c3b28c;
}
.navbar-default .navbar-brand {
  color: #fdfdfd;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #383838;
}
.navbar-default .navbar-text {
  color: #fdfdfd;
}
.navbar-default .navbar-nav > li > a {
  color: #fdfdfd;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ccc7ff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #383838;
  background-color: #4f4c4c;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #383838;
  background-color: #4f4c4c;
}
.navbar-default .navbar-toggle {
  border-color: #4f4c4c;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #4f4c4c;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fdfdfd;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #fdfdfd;
}
.navbar-default .navbar-link {
  color: #fdfdfd;
}
.navbar-default .navbar-link:hover {
  color: #383838;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fdfdfd;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #383838;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #383838;
    background-color: #4f4c4c;
  }
}