
tr:nth-child(even){
	background-color: #f2f2f2;
}
.table th{
	
	background-color: #290a3a;
	text-align: center;
	color: white;
	
	font-size: 18px;
}

.table td{
	text-align: center;
	color: black;
}

